<%- include('../partials/header') %>
<!-- Books sections, should display Title and Author of book-->
<section id="show-page">
    <section>
        <h2>Books</h2>
        <div>Title:</div>
        <div><%= book.title %> </div>
        <div>Author:</div>
        <div><%= book.author %> </div>
    </section>
</section>
<!-- Quotes section, should display all quotes associated with book-->
<br>
<section>
    <h2>Favorite Quotes</h2>
    <div>Quote:</div>
    <div><%= quote.content %> </div>
    
</section>




<%- include('../partials/footer') %> -->